
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background: #F9F5EB;
}
.contenedor {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}
.contenedor .titulo {
    padding-top: 15px;
    font-family: 'Courier New', Courier, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.box_contenedor {
    display: grid;
    height: 100vh;
    /* padding: 10px; */
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    
}
.box_juego {
    /* background: yellowgreen; */
    width: 100%;
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    /* border: 2px solid rebeccapurple; */
}

figure img {
    width: 350px;
    height: 350px;
}

.form {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, sans-serif;
    font-size: 18px;
    /* align-items: flex-end; */
    gap: 15px;
    margin-bottom: 10px;
    color: #607EAA;
}
.box_text {
    align-items: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.text {
    border: none;
    border-radius: 7px;
    font-family: 'Courier New', Courier, sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    padding: 7px 5px;
    text-align: center;
    font-weight: bold;
    color: #1C3879;
    
}
.text.usada {
    color: #FA7070;
}

.box_letras {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 10px;
    gap: 10px;
    width: 100%;
    /* background: yellowgreen; */
}
.box_letras strong {
    font-family: 'Courier New', Courier, sans-serif;
    font-variant: small-caps;
    font-size: 20px;
    margin-bottom: 15px;
}

.box_btnLetras {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.box_btnLetras .btn_letra {
    background: #1C3879;
    border-radius: 7px;
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 3px 5px rgba(21, 20, 27, .7);
    transition: all ease-in .3s;
    
}
.box_btnLetras .btn_letra:hover {
    background: #607EAA;
    transition: all .2;
}

.btn_reset {
    background: #FA7070;
    padding: 15px;
    font-family: 'Courier New', Courier, sans-serif;
    font-size: 20PX;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-weight: bold;
    border: none;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 3px 5px rgba(21, 20, 27, .7);
}

.btn_reset:hover {
    background: #CC3636;
}
.alert_respuesta{
    display: flex;
    position: absolute;
    top: calc(100vh /2);
    left: 25%;
    right: 25%;
    width: 50%;
    justify-content: center;
    align-items: center;
    background:transparent;
    border-radius: 15px;
    box-shadow: 3px 15px 10px rgba(21, 20, 27, .4);
    
}
#respuesta {
    display: none;
    padding: 20px;
    bottom: auto;
    text-align: center;
    padding-bottom: 15px;
    font-size: 30px;
    font-family: 'Courier New', Courier, sans-serif;
    font-weight: bold;
    transition: all ease-in-out .5s;
    color: #790252;
    
}

@media (max-width: 1200px) {
    .box_btnLetras .btn_letra {
      width: 40px;
      height: 40px;
      margin-left: 5px;

      
    }
  }
@media (max-width: 900px) {
    .contenedor .titulo {
        font-size: 25px;
    }
    .box_contenedor {
      display: grid;
      grid-template-columns: auto;
    }
    .box_juego {
      padding: 0;
    }
    .form {
        margin: 0;
    }
    .box_letras{
        margin-top: 0;
    }
    .filaSuperior,
    .filaCentral,
    .filaInferior{
        text-align: center;
    }
    .alert_respuesta {
        width: 80%;
        top: calc(100vh /2);
        left: 10%;
        right: 5%;
    }
    #respuesta {
        margin-top: 10px;
    }
    figure {
        margin: 0;
    }
    .btn_reset{
        padding: 10px;
        font-size: 15px;
    }
}
@media (max-width: 500px) {
    .box_letras {
        padding: 0;
    }
    .text {
        padding-left: 0;
        padding-right: 0;
    }
    #respuesta {
        font-size: 15px;
    }

  }